{% extends "main.html" %}
{% block tabs %}
{{ super() }}

<!-- find css file in assets/website/home.css -->

<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"/>
 <link rel="stylesheet" href="assets/website/home.css">

<section class="wrapper hero-section">
    <div class="container">
        <div class="grid-cols-2">
            <div class="grid-item-1">
                <h1 class="main-heading">
                    Your toolbox for the <span>structural analysis</span> of concrete and masonry.
                </h1>
                <p class="info-text">
                    The StrucEng Library includes mechanical models, safety concepts, load generator and more for the
                    structural analysis of
                    reinforced concrete and masonry.
                </p>
                <div class="btn_wrapper">
                    <button class="btn view_more_btn">
                        <a href='/action'>See in Action</a>
                    </button>
                    <button class="btn view_more_btn">
                        <a href='/strucenglib_plugin/home/'>Get Started</a>
                    </button>
                </div>
            </div>
            <div class="grid-item-2">
                <div class="team_img_wrapper">
                    <img alt="team-img"
                         src="https://via.placeholder.com/555"/>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="wrapper components">
    <div class="container">
        <h1 class='components-title main-heading'
            style='text-align: center;'> The StrucEng Library Project</h1>
        <div class="grid-cols-3 components-feat">
            <div class="grid-col-item components-feat-box">
                <div class="icon">
                    <img class='components-feat-img'
                         src='https://via.placeholder.com/200'/>
                </div>
                <div class="featured_info components-feat-box-text">
                    <span>Rhinoceros 3D Plugin</span>
                    <p>
                        The StrucEng Library Plugin integrates FE models into Rinoceros 3D.
                    </p>
                    <div class="components-but components-but--view-more">
                        <p><a href='/strucenglib_plugin/home/'>Learn More<i class="ri-arrow-right-line"></i></a></p>
                    </div>
                </div>
            </div>
            <div class="grid-col-item components-feat-box">
                <div class="icon">
                    <img class='components-feat-img'
                         src='https://via.placeholder.com/200'/>
                </div>
                <div class="featured_info components-feat-box-text">
                    <span>Component</span>
                    <p>
                        Description
                    </p>
                    <div class="components-but components-but--view-more">
                        <p>Learn More<i class="ri-arrow-right-line"></i></p>
                    </div>
                </div>
            </div>
            <div class="grid-col-item components-feat-box">
                <div class="icon">
                    <img class='components-feat-img'
                         src='https://via.placeholder.com/200'/>
                </div>
                <div class="featured_info components-feat-box-text">
                    <span>Component</span>
                    <p>
                        Description
                    </p>
                    <div class="components-but components-but--view-more">
                        <p>Learn More<i class="ri-arrow-right-line"></i></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-cols-3 components-feat">
            <div class="grid-col-item components-feat-box">
                <div class="icon">
                    <img class='components-feat-img'
                         src='https://via.placeholder.com/200'/>
                </div>
                <div class="featured_info components-feat-box-text">
                    <span>Component</span>
                    <p>
                        Description
                    </p>
                    <div class="components-but components-but--view-more">
                        <p>Learn More<i class="ri-arrow-right-line"></i></p>
                    </div>
                </div>
            </div>
            <div class="grid-col-item components-feat-box">
                <div class="icon">
                    <img class='components-feat-img'
                         src='https://via.placeholder.com/200'/>
                </div>
                <div class="featured_info components-feat-box-text">
                    <span>Component</span>
                    <p>
                        Description
                    </p>
                    <div class="components-but components-but--view-more">
                        <p>Learn More<i class="ri-arrow-right-line"></i></p>
                    </div>
                </div>
            </div>
            <div class="grid-col-item components-feat-box">
                <div class="icon">
                    <img class='components-feat-img'
                         src='https://via.placeholder.com/200'/>
                </div>
                <div class="featured_info components-feat-box-text">
                    <span>Component</span>
                    <p>
                        Description
                    </p>
                    <div class="components-but components-but--view-more">
                        <p>Learn More<i class="ri-arrow-right-line"></i></p>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}
{% block content %}
{% endblock %}
{% block footer %}
{% include "partials/footer.html" %}

{% endblock %}
