:root {
    --primary-color: #ff1947;
    --link-color: #ff1947;
    --btn-hover-color: #ff1947;
    --lg-heading: white;
    --text-content: white;
    --fixed-header-height: 4.5rem;

    --header-color:  #F0EBDD;
    --header-text-color: black;
    --color-special:  #ff1947;
    --container-max-width: 57rem;
}

:root > * {
    --md-primary-fg-color:        #F0EBDD;
    --md-primary-fg-color--light: #F0EBDD;
    --md-primary-fg-color--dark:  #F0EBDD;
    --md-primary-bg-color: #grey;
}


.md-header__button  {
    /* background-color: red; */
    text-align: center;
    padding: 0;
    margin: 0;
}

/* make links right align */
.md-social {
    float: right;
}
.md-social__link {
    margin-left: auto;
    margin-right: 0;
}


.md-logo img {
    /* background-color: blue; */
    padding: 0;
    margin: 0;
    padding-top: 0.3rem !important;
    height: 1.9rem !important;
}

/* phone 3 cols */
@media screen and (max-width: 1118px) {
    .md-social {
        float: left;
    }
    .md-nav__title {
        background-color: var(--header-color) !important;
    }
    .md-logo img {
        content:url("/assets/website/logo-web-0.svg");
        padding-top: 0 rem !important;
        margin-top: 0 rem !important;
        height: 4rem !important;
        overflow: visible;
        /* margin-bottom: -2rem; */
    }
}

.md-search__input {
    background-color: var(--header-color);
    color: black;
}

input::placeholder{
    color: black !important;
    opacity: 1;
}


.md-header {
    background-color: var(--header-color);
    color: var(--header-text-color);
    position: initial;
}
.md-tabs {
    /* background-color: transparent !important; */
    background-color: var(--header-color);
    color: var(--header-text-color);
}

.md-grid {
    max-width: var(--container-max-width);
}

.md-nav__button .md-logo {
    color: black !important;
}

.md-nav__title {
    color: black;
}

.md-nav__button {
    color: black;
}

.md-logo {
    color: black;
}
