:root {
    --primary-color: #ff1947;
    --link-color: #ff1947;
    --btn-hover-color: #ff1947;
    --lg-heading: white;
    --text-content: white;
    --fixed-header-height: 4.5rem;

    --header-color:  #F0EBDD;
    --header-text-color: black;
    --color-special:  #ff1947;
}

:root > * {
    --md-primary-fg-color:        #F0EBDD;
    --md-primary-fg-color--light: #F0EBDD;
    --md-primary-fg-color--dark:  #F0EBDD;
    --md-primary-bg-color: #grey;
}


.md-search__input {
    background-color: var(--header-color);
    color: black;
}

input::placeholder{
    color: black !important;
    opacity: 1;
}


.md-header {
    background-color: var(--header-color);
    color: var(--header-text-color);
    position: initial;
}
.md-tabs {
    /* background-color: transparent !important; */
    background-color: var(--header-color);
    color: var(--header-text-color);
}

.md-grid {
    max-width: 68rem;
}

.md-nav__button .md-logo {
    color: black !important;
}

.md-nav__title {
    color: black;
}

.md-nav__button {
    color: black;
}

.md-logo {
    color: black;
}
